* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #890304;
  color: #f8f2bf;
  padding-bottom: 40px;
}

.backToTop a {
 color:#f8f2bf;
 text-align: right;
}

section {
   padding: 0 20px;
  font-size: 20px;
}

h2 {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 16px;
}

.backToTop {
  text-align: right;
}

.line {
  background-color: #002263;
  height: 22px;
}

/* Index Section */

#index {
  padding: 20px;
}

#index button{
  background-color: #002263;
  padding: 4px 16px;
  font-size: 26px;
}

#index a {
  color:#f8f2bf;
  font-weight: 900;
  text-decoration: none;
}


/*Align Section */
 #align .box {
  border: 2px solid #002263;
  width: 50%;
  margin: auto;
  height: 200px;
}

#align .box-vertical {
    
  width: 50%;
  margin: auto;
}

#align .text-center {
  text-align: center;
  color:#e8e5c3;
  font-style: italic;
}

#align .box {
  width
}

#align .container {
  border: 4px dotted #002263;
  padding: 50px 0;
}

#align .vertical-center {
  padding: 75px 0;
  color: #e8e5c3;
  border: 2px solid #e8e5c3;
}

/*Background Section*/

#backgrounds .container {
  display: flex;
  gap: 20px;
}

#backgrounds .box-background {
  border: 2px solid #e8e5c3;
  height: 100px;
  width: 30%;
  background-color: #f8f2bf;
  color: #002263;
}

#backgrounds .background-image{
  background-image: url(../img/torontoFlag.png);
  flex: 1;
  height: 250px;
  color:deeppink;
  font-weight: 900;
}
  #backgrounds .repeat-horizontally {
    background-image: url(../img/torontoFlag.png);
    background-repeat: repeat-x;
    height: 350px;
  }

  #backgrounds .repeat-vertically {
    background-image: url(../img/torontoFlag.png);
    background-repeat: repeat-y;
    height: 400px;
    width: 400px;
  }

  #backgrounds .repeat-no {
    margin-left: 300px;
    height: 400px;
    background-color: hotpink;
    background-image: url(../img/torontoFlag.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed; /* Figure out why the picture disappears when you scroll to different sections on the page. */
  }
