* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #890304;
  color: #f8f2bf;
  padding-bottom: 40px;
}

h2 {
  text-align: center;
}

a {
  color: #f8f2bf;
}

p {
  margin: 20px;
}

.section-link {
  text-decoration: none;
}
.back {
  text-align: right;
}

/*Header Section*/
header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: #002263;
  color: #f8f2bf;
  align-items: center;
  padding: 20px;
}

header a {
  color: #f8f2bf;
  text-decoration: none;
  font-size: bold;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 8px;
}

.logo-main {
  font-weight: 900;
  font-size: xx-large;
}

/*Index Section*/
#index {
  padding: 0 8px;
}
button {
  background-color: #002263;
  color: #f8f2bf;
  font-size: 18px;
  font-weight: 700;
  margin: 8px 2px;
  padding: 4px 8px;
  border-radius: 50px;
  border: none;
  box-shadow: 0 0 4px #f8f2bf;
}

/*Align Section */
.box {
  border: 2px solid #002263;
  width: 50%;
  margin: auto;
  height: 200px;
}

.box-vertical {
    
  width: 50%;
  margin: auto;
}

.text-center {
  text-align: center;
  color:#e8e5c3;
  font-style: italic;
}

.box {
  width
}

.container {
  border: 4px dotted #002263;
  padding: 50px 0;
}

.vertical-center {
  padding: 75px 0;
  color: #e8e5c3;
  border: 2px solid #e8e5c3;
}

/*Background Section*/

.box-background {
  border: 2px solid #e8e5c3;
  height: 100px;
  width: 30%;
  background-color: #f8f2bf;
  color: #002263;
}