* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #890304;
  color: #f8f2bf;
  padding-bottom: 40px;
}

/*Header Section*/
header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: #002263;
  color: #f8f2bf;
  align-items: center;
  padding: 20px;
}

header a {
  color: #f8f2bf;
  text-decoration: none;
  font-size: bold;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 12px;
}

.logo-main {
  font-weight: 900;
  font-size: xx-large;
}
