* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #890304;
  color: #f8f2bf;
}


/*Hero Section*/
.hero {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.hero img {
  width: auto;
  height: 200px; /*?? You need to know how to make a image fit in a box to make different size images line up */
  margin: 20px 10px 0 10px;
}
.hero .box {
  text-align: center;
}

.title a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 8px 0;
  color: #f8f2bf;
}
