* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  flex-direction: column;
  align-items: center;
  background-color: darkgray;
}

header {
  padding: 0px 150px;
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

header .logo {
  color: white;
  font-size: x-large;
  font-weight: 900;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

header a {
  color: white;
  text-decoration: none;
}

header ul {
  display: flex;
  gap: 16px;
  list-style-type: none;
}

header nav a {
  font-size: 18px;
}

.hero {
  display: flex;
  justify-content: flex-start;
  gap: 175px;
  align-items: center;
  background-color: #1f2937;
  height: 550px;
  color: white;
  padding: 75px 150px;
}

.hero h1 {
  font-size: 52px;
}

.hero p {
  padding: 8px 16px 16px 0;
  font-size: 24px;
  width: 650px;
}

.hero button {
  font-size: 18px;
  background-color: royalblue;
  color: white;
  border-radius: 8px;
  padding: 4px 8px;
  border: 1px solid royalblue;
}

.hero a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.hero img {
  display: flex;
  align-items: flex-start;
  width: 700px;
  height: auto;
  padding: 50px 0;
}

main {
  height: 500px;
  background-color: white;
  padding: 20px 150px;
  text-align: center;
}
main h2 {
  font-size: 32px;
  padding: 28px 0;
}

main .mainContainer {
  display: flex;
  justify-content: center;
  gap: 52px;
  
}

main .box {
  
  width: 200px;
}

main img {
  border: 4px solid royalblue;
  border-radius: 12px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}


