* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;
  
}

.information .title {
  font-size: 48px;
}

.information .boxes {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  gap: 52px;
}

.information img {
  width: 150px;
}

.information .info {
  width: 200px;
}

.information .text {
  text-align: center;
}
