* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 225px;
  width: 225px;
  background-color: cornflowerblue;
  border: 4px solid darkblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .box {
  height: 75px;
  width: 75px;
  background-color: tomato;
  border: 6px solid maroon;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}
