/* Index Section */

.index {
  padding: 12px;
}
.index button {
  background-color: #002263;

  border-radius: 50px;
  padding: 4px 10px;
  border: none;
  box-shadow: 0 0 4px #f8f2bf;
}

.index a {
  color: #f8f2bf;
  text-decoration: none;
}
