* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: lightgray;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 480px;
  background-color: white;
  display: flex;
  gap: 16px;
  border-radius: 10px;
  box-shadow: 2px 4px 16px black;
  padding: 10px;
}

.modal .alertSign {
  background-color: lavender;
  color: royalblue;
  width: 42px;
  height: 42px;
  font-size: 26px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  flex-shrink: 0;
}

.modal .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal .title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 8px;
}

.modal .closeX {
  background-color: lavender;
  border-radius: 50px;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}

.modal .text {
  margin-bottom: 16px;
}

.modal button {
  padding: 4px 8px;
  border-radius: 8px;
}

.modal .continue {
  background-color: royalblue;
  color: white;
  border: 1px solid royalblue;
}

.modal .cancel {
  background-color: white;
  border: 1px solid #ddd;
  color: royalblue;
}
