* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

header ul,
footer ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
}
header a,
footer a {
  text-decoration: none;
  color: #666;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main img {
  width: 800px;
}

main .search {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  align-items: center;
}

main input {
  border-radius: 50px;
  border: 1px solid #ddd;
  font-size: 40px;
  width: 700px;
}

main .buttonsContainer {
  display: flex;
  gap: 8px;
}

main button {
  padding: 4px 8px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
}

footer {
  background-color: #eee;
}
